#===============================
#GENERAL VANILLA AND DDNET CONFIG
#===============================
#
# Official BlmapChill config 
#
exec ../ddpp_database/cfg/base.cfg

sv_motd "=====================\nOfficial BlmapChill Server\n=====================\nMap: NewTee & ChillerDragon\nServer: ChillerDragon"
sv_name "ChillerDragon's BlmapChill Server [Chilli.*]"
sv_port 8306
sv_map "BlmapChill"

#=======================
# DDraceNetwork++ CONFIG
#=======================


#allows
sv_allow_balance "1"
sv_allow_bomb "0"
sv_allow_trade "1"
sv_allow_insta "1" 
sv_allow_block_tourna "1"
sv_allow_dropping_weapons "2"

#states (map hardcodet configs)
sv_spawntiles_mode "1"
sv_super_spawn_x "24"
sv_super_spawn_y "12"
sv_nobo_spawn_time "0"

sv_spawnblock_prot "1"
sv_spawnarea_low_y "8"
sv_spawnarea_low_x "1"
sv_spawnarea_high_x "34"
sv_spawnarea_high_y "35"

